$lime: #D1F2A5;
$grass: #4F8C23;
$banana: #FFFFd4;
$orange-sherbert: #FFC48C;
$watermelon: #F56911;

$font-stack: 'Raleway', sans-serif;

body {
  color: #555;
  background-color: $banana;
  font-family: $font-stack;
  text-align: center;
  list-style-type: none;
}

input {
  border: none;
  height: 2em;
  font-size: 1em;
  text-align: center;
}

input:focus {
  outline: none;
}

.widget__grid {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.widget__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25em;
  width: 25em;
  border-radius: 5px;
  color: white;
  margin: 20px;
  cursor: pointer;
}

.widget__item:nth-child(1), .widget__item:nth-child(4) {
  background-color: $lime;
}
.widget__item:nth-child(1):hover, .widget__item:nth-child(4):hover {
  background-color: $grass;
  .tabs__menu .active--true {
    border-bottom: 2px solid white;
  }
}

.widget__item:nth-child(2), .widget__item:nth-child(3)  {
  background-color: $orange-sherbert;
}

.widget__item:nth-child(2):hover, .widget__item:nth-child(3):hover {
  background-color: $watermelon;
}

.clock__display {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.auto__display {
  min-height: 50%;
}

.tabs__menu {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.tabs__menu div {
  width: 50px;
}



.tabs__body {
  padding: 15px;
}